/* 未能缩小。正在返回未缩小的内容。
(28,64): run-time error CSS1035: Expected colon, found 'font-size'
 */
/* 公告 */
.announcement { padding: 15px 0; }
.announcement p { font-size: 18px; }
.announcement p i { margin-right: 6px; font-size: 26attrpx; color: #ff6600; }

/* item */
.index-item { position: relative; height: 150px; }
.index-item a { position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 1; margin: auto; width: 270px; height: 125px; }


/* 新闻 */
.newsimg-show { float: left; width: 720px; height: 466px; position: relative; }
.index-news { height: 466px; overflow-y: hidden; }
.index-news li > a p { position: absolute; bottom: 0; left: 0; z-index: 2; padding: 0 20px; width: 680px; height: 50px; line-height: 50px; background: rgba(0,0,0,0.5); color: #fff; font-size: 18px; overflow: hidden; white-space: nowrap; -o-text-overflow: ellipsis; text-overflow: ellipsis; text-align: left; }
.index-news li img { width: 100%; height: 100%; }
.focus-news { position: relative; float: left; width: 100%; /*overflow: hidden;*/ }
.focus-news ul { width: 100%; height: 100%; }
.focus-news li { position: relative; width: 100%; height: 100%; text-align: center; overflow: hidden; float: left; }

.newsimg-show a.focus-news-prev, .newsimg-show a.focus-news-next { display: block; position: absolute; bottom: 50%; z-index: 3; margin-bottom: -37px; width: 40px; height: 74px; background: rgba(0,0,0,0.5); text-align: center; line-height: 74px; }
.newsimg-show a.focus-news-prev { left: 0; }
.newsimg-show a.focus-news-next { right: 0; }
.newsimg-show a.focus-news-prev i, .newsimg-show a.focus-news-next i { color: #fff; font-size: 30px; }

.newstext { float: right; width: 610px; }
.newstext li { border-bottom: 1px solid #ddd; }
.newstext li.nowrap { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.newstext li > a { display: block; padding: 15px 0; attrimgbox font-size: 18px; color:#404040; }
.newstext li > a span { display: inline-block; padding-right: 8px; color: #ff0000; font-size: 18px; }
.newstext li > a:hover { color: #cd0000; }
.newstext li.li0 { margin-bottom: 15px; }
.newstext li.li0 h3 { font-size: 28px; text-align: center; color: #cb0812; font-weight: bold; line-height: 30px; }
.newstext li.li0 p { margin: 16px 0 10px 0; color: #999999; line-height: 30px;}
.newstext li.li0 p > a { color: #cd0000; font-size:14px;  }
.newstext li.li0 p > a:hover { text-decoration: underline; }

/* 快速通道 */
.fasttrack { margin-top: 50px; }
.fasttrack li { float: left; margin-right: 30px; padding: 40px 0 0 55px; width: 378px; height: 122px; background: url(fasttrack-bg.jpg) no-repeat; }
.fasttrack li:hover { background: url(fasttrack-hover-bg.jpg) no-repeat; }
.fasttrack li:last-child { margin-right: 0; }
.fasttrack li a { display: block; color: #fff; }
.fasttrack li a .fasttrack-txt { float: left; width: 200px; }
.fasttrack li a .fasttrack-txt h3 { font-size: 24px; font-weight: bold; }
.fasttrack li a .fasttrack-txt p { margin-top: 20px; font-size: 16px; line-height: 24px; }
.fasttrack li a img { float: right; padding-right: 50px; width: 80px; height: 84px; }
.fasttrack li:last-child a .fasttrack-txt h3 { line-height: 28px; }


/* 景点 */
.attr li { float: left; margin-right: 10px; margin-bottom: 8px; width: 264px; height: 204px; }
.attr li.mr0 { margin-right: 0; }
.attr li a { display: block; position: relative; }
.attr li a .list-img, .attr li a .list-img img { width: 264px; height: 204px; }
.attr li a p { position: absolute; left: 0; bottom: 0; z-index: 1; width: 100%; height: 58px; background: rgba(0,0,0,0.5);line-height: 58px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.attr li a p span { margin: 0 10px; color: #fff; font-size:18px;  }
.attr li a p span em { display: inline-block; margin-right: 5px; font-size: 24px; color: #ff7c7c; font-weight: bold; }
.attr li a:hover p { background: rgba(255,0,0,0.9); }
.attr li.li0 { width: 536px; height: 415px; }
.attr li.li0 a .list-img { width: 536px; height: 415px; }
.attr li.li0 a .list-img img { width: 536px; height: 415px; }

/* 旅游 */
.tour-tit { margin: 0 auto; margin-bottom: 60px; }
.tour-tit h2 { position: relative; float: left; margin: 0 32px; height: 61px; width: 371px; border: 2px solid #666666; color: #666; text-align: center; line-height: 63px; font-size: 20px; cursor: pointer; }
.tour-tit h2.on { background: #ca0000; border-color: #ca0000; color: #fff; font-weight: bold; }
.tour-tit h2.on span { position: absolute; left: 50%; bottom: -18px; z-index: 1; margin-left: -6px; border-left: 12px solid transparent; border-right: 12px solid transparent; border-top: 15px solid #ca0000; }
.tourcon li { float: left; margin-right: 20px; width: 325px; }
.tourcon li:last-child { margin-right: 0; }
.tourcon li .list-img { display: block; overflow: hidden; width: 325px; height: 253px; }
.tourcon li .list-img img { width: 325px; height: 253px; }
.tourcon li:hover .list-img img { -moz-transform: scale(1.1,1.1); -webkit-transform: scale(1.1,1.1); -o-transform: scale(1.1,1.1); -ms-transform: scale(1.1,1.1); transform: scale(1.1,1.1); transition: all 1s ease .1s; }

.tourcon li .tour-txt { padding: 15px; background: #f1f1f1; }
.tourcon li .tour-txt h3 a { display: block; width: 100%; height: 30px; font-size: 18px; line-height: 30px; overflow: hidden; white-space: nowrap; -o-text-overflow: ellipsis; text-overflow: ellipsis; }
.tourcon li .tour-txt h3 a:hover { color: #ca0000; }
.tourcon li .tour-txt p { margin-top: 10px; }
.tourcon li .tour-txt p span { display: inline-block; margin-right: 15px; color: #666; }
.tourcon li .tour-txt p span i { margin-right: 5px; color: #bbb; }

.more { margin: 50px auto; width: 322px; height: 52px; border: 1px solid #ca0000; box-shadow: 9px 9px 0 0 #f8e8e9; }
.more a { display: block; font-size: 18px; text-align: center; color: #ca0000; line-height: 52px; }
.more a span { display: inline-block; margin-left: 5px; font-size: 14px; }
.more a:hover { background: #ca0000; color: #fff; }

/* tags */
.tags { position: absolute; left: 5px; top: 0; z-index: 2; width: 41px; height: 27px; background: url(iconpng.png) no-repeat -216px 0; line-height: 20px; text-align: center; color: #fff; }
.tags-training { position: absolute; top: 0; left: 0; right: 0; z-index: 2; margin: 0 auto; width: 198px; height: 46px; line-height: 46px; background: #ca0000; line-height: 46px; text-align: center; color: #fff; font-size: 18px; }
.tags-status { position: absolute; top: 0; right: 0; z-index: 2; width: 80px; background: #5589be; line-height: 20px; text-align: center; color: #fff; font-size: 12px; }
.tags-departure-city { position: absolute; bottom: 0; left: 0; z-index: 2; padding: 5px 5%; width: 90%; background: rgba(0,0,0,0.2); color: #fff; line-height: 24px; text-align: right; }

/* 培训 */
.training li { float: left; margin-right: 17px; width: 327px; height: 330px; }
.training li a { display: block; position: relative; }
.training li div.list-img { width: 327px; height: 330px; }
.training li div.list-img img { width: 327px; height: 330px; }
.training li a h3 { position: absolute; left: 0; bottom: 0; z-index: 1; width: 100%; line-height: 80px; font-size: 18px; text-align: center; color: #fff; background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1)); overflow: hidden; white-space: nowrap; -o-text-overflow: ellipsis; text-overflow: ellipsis; }
.training li a:hover h3 { background: linear-gradient(rgba(202,0,0,0),rgba(202,0,0,1)); }
.training li:last-child { margin-right: 0; }

/* 文创 */
.culture { padding-bottom: 50px; }
.culture li { float: left; margin-right: 18px; margin-bottom: 18px; width: 327px; height: 321px; }
.culture li a { display: block; position: relative; }
.culture li a .list-img { display: block; overflow: hidden; width: 327px; height: 321px; }
.culture li a .list-img img { width: 327px; height: 321px; }
.culture li a:hover .list-img img { -moz-transform: scale(1.1,1.1); -webkit-transform: scale(1.1,1.1); -o-transform: scale(1.1,1.1); -ms-transform: scale(1.1,1.1); transform: scale(1.1,1.1); transition: all 1s ease .1s; }
.culture li a h3 { position: absolute; z-index: 1; bottom: 20px; left: 0; padding: 0 10%; width: 70%; height: 50px; background: linear-gradient(to right,rgba(202,0,0,1),rgba(202,0,0,0)); line-height: 50px; overflow: hidden; white-space: nowrap; -o-text-overflow: ellipsis; text-overflow: ellipsis; font-size: 18px; color: #fff; }
.culture li.li0, .culture li.li0 a .list-img, .culture li.li0 a .list-img img { width: 570px; height: 291px; }
.culture li.li1, .culture li.li1 a .list-img, .culture li.li1 a .list-img img { width: 428px; height: 291px; }
.culture li.li2, .culture li.li2 a .list-img, .culture li.li2 a .list-img img { width: 325px; height: 629px; }
.culture li.li2 { float: right; margin-right: 0; }
.culture li a:hover h3 { background: #ca0000; }

/* 景区地图 */
.attrimgbox { margin: 35px 0; }
.attrimgbox .attrimg { display: block; border: 15px solid #ce2330; }
.attrimgbox .attrimg img { width: 100%; height: auto; }
.attrimgbox p { text-align: center; line-height: 50px; color: #000; font-size: 22px; font-weight: bold; }

